/*
$couleur__background--body: rgb(171, 236, 147);
$couleur__background--h1: rgba(81, 108, 190, 0.971);
$couleur__background--h2h3h4: rgb(16, 12, 114);
$couleur__background--code: #bbb;
*/
$brand__color--primary: #043c7c;
$brand__color--secondary:#3b9bcc;
$brand__color--terciary: #9bd3db;
$brand__color--text: rgb(36, 38, 40);
$brand__color--white: rgb(243, 244, 246);

$couleur__background--body:$brand__color--white;
$couleur__background--navigation: $brand__color--primary;
$couleur__background--navigation-aside: $brand__color--primary;
/* ----------------------------------- Couleur d'arrière plan titres */
$couleur__background--h1: rgba(233, 237, 248, 0.971);
$couleur__background--h2h3h4: rgb(215, 215, 231);
$couleur__background--h5h6: rgb(154, 153, 172);
$couleur__background--code: rgb(213, 208, 230);

/* --------------------------------------- couleur   color :  */
$couleur__h1: $brand__color--text;
$couleur__h2h3h4: $brand__color--text;
$couleur__h5h6: $brand__color--text;
$couleur__code: $brand__color--text;

/* --------------------- Couleurs des liens */
$couleur__link: #ffffff;
$couleur__link--visited: $brand__color--white;
$couleur__link--hover: $brand__color--text;

$couleur__link__aside: $brand__color--secondary;
$couleur__link__aside--visited:  $brand__color--secondary;
$couleur__link__aside--hover: rgb(76,122,165);
/* ----------------------------- couleur bouton */
$color__border-button: #999;
$color__background-button: #bbb;
$color__border-button-hover: #aaa;
$color__border-button-focus: #888;

/* ------------------------- ---- couleur fields input text */
$color__text-input: #444;
$color__border-input: #777;
$color__text-input-focus: #333;

/* ------------------------------ couleur hr (ligne horizontale) */
$color__background-hr: rgb(161, 180, 213);

/* ---------  simple */

$color__background-pre: rgb(158, 213, 196);
$color__border-abbr: #aaa;
$color__background-ins: #bbb;