.menu__aside{
  display: flex;

  .menu{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-item{

  }
  a{

  }
}

/*
.menu_aside{}
.menu_aside .menu {}
.menu_aside .menu-item {}
.menu__aside a {}
*/