.site__branding{
  display: flex;
  justify-content: space-between;
  padding:1rem;
  padding-right:3rem;
}
.site__branding img{
  display: inline;
  margin:0;
  max-width: 150px;
}
.site__description h1 {
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
}