a {
  color: $brand__color--text;
  cursor: pointer;

  &:visited {
    color: $brand__color--secondary;
  }

  &:hover,
  &:focus,
  &:active {
    color: $brand__color--primary;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
/* ------------------------------------------------  .menu__aside  */
.menu__aside li{
  padding-bottom: 1rem;
}
  .menu__aside a {
  color: $brand__color--white;
  padding-bottom: 1rem;

  &:visited {
    color: $brand__color--white;
  }

  &:hover,
  &:focus,
  &:active {
    color: $brand__color--white;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

.site__title a {
}